body {
  background-color:#2f4f4f;
  color:white;
}

input { 
  color:black;
}

h3 {
	width: 80px;
	display: inline-table;
	padding: 2px;
	font-size: 13px;
}

button {
  color: black;
}

ul {
  display: inline-block;
}

li {
  display: inline-table;
  width: 150px;
  height: 200px;
  padding: 3px;
  font-size: 15px;
}