<div>
  <div class="gameInfo">Score: {{score}}</div>
  <div class="actorInfo" ng-repeat="actor in actors">
    <img ng-if=actor.profile_path ng-src='https://image.tmdb.org/t/p/w396/{{actor.profile_path}}'>
    <!--"Image not found" image-->
    <img ng-if=!actor.profile_path ng-src='http://imgur.com/Rg00Mu8.png'>
    <h3 class="actorName">{{actor.name}}</h3>
  </div>

  <div class="choices" ng-show=movieChoices.length>
    <button class="choice" ng-repeat="movie in movieChoices" ng-click="submitChoice(movie)">
      {{movie.title}}
    </button>
    <button class="noneOfTheAbove" ng-click="submitChoice({title: ''})">None of these!</button>
  </div>
</div>