<div>
  <form>
    <input name="actorSearch" placeholder="type here..." type="text" ng-model= "actorInput">
    <button ng-click="addActorInput(actorInput)">Search Actor</button>
  </form>
  <div class="actorInfo" ng-repeat="actor in currentSearches">
    <img ng-if=actor.profile_path ng-src='https://image.tmdb.org/t/p/w396/{{actor.profile_path}}'>
    <h3 class="actorName">  <button class="removeActor" ng-click="removeActorInput(actor)">x</button> {{actor.name}}</h3>
  </div>
  <div>
  <div class="movieInfo">
  <div ng-if="currentSearches.length && !movies.length">No movies found</div>
    <ul>
      <li class="movies" ng-repeat="movie in movies" ng-mouseover="showOverview(movie)" ng-mouseleave="hideOverview(movie)">
        <img ng-if=movie.poster_path ng-src='https://image.tmdb.org/t/p/w396/{{movie.poster_path}}'
        >
        <div class="movieTitle">{{movie.title}}</div>
        <div class="movieYear">{{movie.release_date.slice(0,4)}}</div>
        <div class="movieOverview" ng-show=movie.showOverview>{{movie.overview}}</div>
      </li>
    </ul>
  </div>
</div>