<div>
  <form>
    <input name="actorSearch" placeholder="type here..." type="text" ng-model= "actorInput">
    <button ng-click="addActorInput(actorInput)">Search Actor</button>
  </form>
  <div class="actorInfo" ng-repeat="actor in currentSearches">
    <img ng-if=actor.profile_path ng-src='https://image.tmdb.org/t/p/w396/{{actor.profile_path}}'>
    <button class="removeActor" ng-click="removeActorInput(actor)">x</button> 
    <h3 class="actorName">{{actor.name}}</h3>
  </div>
  <div>
  <div class="movieInfo">
  <div ng-if="currentSearches.length && !movies.length">No movies found</div>
    <ul>
      <li class="movies" ng-repeat="movie in movies"><img ng-if=movie.poster_path ng-src='https://image.tmdb.org/t/p/w396/{{movie.poster_path}}'>
      {{movie.title}}
      <br>({{movie.release_date.slice(0,4)}})</li>
    </ul>
  </div>
</div>