<div class="leaderboard">
  <div class="loading" ng-show=!loaded>
  Loading scores...
  <img src="http://www.lovethisgif.com/uploaded_images/54170-Classic-Film-Countdown-Agif-By-Mrangrydog-On-Deviantart.gif">
  </div>
  <table class="highscores" ng-show="loaded && !error">
    <tr class="headers">
      <th>Name</th>
      <th>Score</th>
    </tr>
    <tr class="leaderboardRow" ng-repeat="score in scores">
      <td class="name">{{score.name}}</td>
      <td class="highscore">{{score.score}}</td>
    </tr>
  </table>
  <div class="error" ng-show="loaded && error">An error occurred when loading the leaderboard</div>
  <div class="backToGame" ng-click=goToGame()><-- Back to the game</div>
</div>